# Model Training

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report

In [2]:
df = pd.read_csv(r"C:\Users\KIRPAL SINGH\Desktop\Projects\New folder\preprocessed_data.csv")

In [3]:
df.head()

,Unnamed: 0,Dissolved Oxygen,Salinity,Temperature,pH,Turbidity,Dissolved Organic Matter,Suspended Matter,Nitrate,Chlorophyll,label
0,0,-0.182755,-0.340219,0.661065,-0.009127,-0.364630,1.037587,1.454121,0.012896,-0.137686,1
1,1,0.098832,-0.162399,0.706319,-0.026285,-0.361003,1.337050,1.508155,0.012856,-1.139119,1
2,2,-1.312464,-0.586621,0.685549,-0.524840,-0.415914,1.059073,1.115223,0.013447,-0.166706,1
3,3,-4.142801,-0.163807,0.664817,-0.488121,-0.093766,1.075328,1.529143,0.009641,-0.919622,1
4,4,-2.012521,-0.464856,0.726265,1.808017,1.581754,1.012688,1.135012,-0.047192,0.279901,1

In [4]:
df = df.drop(['Unnamed: 0'],axis=1)

In [5]:
x = df.drop(["label"],axis=1)   
y = df["label"]

In [6]:
print(x.shape)
print(y.shape)

(15295, 9)
(15295,)

**Splitting the data into train and test**

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

**Model Building**

In [8]:
rf_clf = RandomForestClassifier()

In [9]:
rf_clf.fit(x_train,y_train)

RandomForestClassifier()

In [10]:
y_pred = rf_clf.predict(x_test)

In [11]:
accuracy_score(y_pred,y_test)

1.0

In [12]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00      2906
           2       1.00      1.00      1.00       153

    accuracy                           1.00      3059
   macro avg       1.00      1.00      1.00      3059
weighted avg       1.00      1.00      1.00      3059